{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "4",
          "browsers": [">1%", "last 4 versions", "Firefox ESR", "not ie < 9"]
        }
      }
    ],
    "@babel/preset-stage-2"
  ],
  "ignore": ["node_modules", "dist"]
}
